[submodule "cscctest"]
	path = cscctest
	url = ../dotgnu-pnet/cscctest.git
[submodule "libCrayons"]
	path = libCrayons
	url = ../dotgnu-pnet/libCrayons.git
[submodule "libjit"]
	path = libjit
	url = ../dotgnu-pnet/libjit.git
[submodule "ml-pnet"]
	path = ml-pnet
	url = ../dotgnu-pnet/ml-pnet.git
[submodule "pnet"]
	path = pnet
	url = ../dotgnu-pnet/pnet.git
[submodule "pnetC"]
	path = pnetC
	url = ../dotgnu-pnet/pnetC.git
[submodule "pnetlib"]
	path = pnetlib
	url = ../dotgnu-pnet/pnetlib.git
[submodule "treecc"]
	path = treecc
	url = ../dotgnu-pnet/treecc.git
