[submodule "cscctest"]
	path = cscctest
	url = https://github.com/mharasimowicz/cscctest.git
[submodule "libCrayons"]
	path = libCrayons
	url = https://github.com/mharasimowicz/libCrayons.git
[submodule "libjit"]
	path = libjit
	url = https://github.com/mharasimowicz/libjit.git
[submodule "ml-pnet"]
	path = ml-pnet
	url = https://github.com/mharasimowicz/ml-pnet.git
[submodule "pnet"]
	path = pnet
	url = https://github.com/mharasimowicz/pnet.git
[submodule "pnetC"]
	path = pnetC
	url = https://github.com/mharasimowicz/pnetC.git
[submodule "pnetlib"]
	path = pnetlib
	url = https://github.com/mharasimowicz/pnetlib.git
[submodule "treecc"]
	path = treecc
	url = https://github.com/mharasimowicz/treecc.git
